#map {
    height: 100vh;
    width: 100%;
}

#controlBox {
    position: absolute;
    top: 15px;
    left: 100px;
    z-index: 1000;

    background: white;
    padding: 10px 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#serviceType {
    padding: 6px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#btnFind,
#btnFindAll {
    padding: 6px 10px;
    margin-left: 6px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#btnLocate {
    padding: 6px 10px;
    margin-left: 6px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
}



#btnFind:hover,
#btnFindAll:hover {
    background-color: #0056b3;
    transform: scale(1.1);

}

#btnLocate:hover {
    background-color: rgb(128, 49, 49);
    transform: scale(1.1);
}


#btnLogout {
    background: #d32f2f;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
}

#btnLogout:hover {
    opacity: 0.9;
}